@font-face {
  font-family: "Pokemon Classic";
  src:
    local("Pokemon Classic"),
    url(././fonts/Pokemon Classic.ttf) format("truetype");	
}

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
body {
            font-family: 'Pokemon Classic';
            background: #050a1e;
            color: #000000;
            line-height: 1.6;
            min-height: 100vh;
			font-size: 12px;
        }


		/* Style pour le footer  qui ne marche actuellement PAS*/
footer {
            background: rgba(10, 14, 39, 0.9);
            text-align: center;
            padding: 2rem;
            margin-top: 4rem;
            border-top: 2px solid rgba(100, 181, 246, 0.3);
            color: #9e9e9e;
            position: relative;
            z-index: 1;
        }

/*Changer la barre de nav, faire des images/logo cliquables et séparer les types par princiapl & secondaire*/
nav { 
	background-color: lightgray;
	padding: 10px;
	text-align: center;
}

ul#liste-types li { /* à suppr, pour les listes */
	display: inline-block;
	padding-inline: 5px;
}

ul#liste-types li a { /* à suppr, pour les listes */
	text-decoration: none;
	color: black;
	font-weight: bold;
}

ul#liste-types li a:hover { /* à suppr, pour les listes */
	color: red;
}

h1 { /* mess de bienvenu */
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

#liste-pokemon { /* changer en div peut-être */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-bottom: 40px;
	list-style: none;
}

#liste-pokemon li { /* Box pour chaque Pokémon */
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 150px;
	text-align: center;
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
}
#liste-pokemon li:hover { /* effet au survol */
	transform: scale(1.05);
	transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(100, 181, 246, 0.3);
    border-color: rgba(100, 181, 246, 0.5);
}

#liste-pokemon li img { /* image des pokémons BUG ICI*/
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}


#liste-pokemon li a { /* Bloc clickable */
    display: block;
    width: 100%;

    color: inherit;
    text-decoration: none;
}

/* j'arrivais pas à le faire en full java donc bon */
#search-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    width: 70%;
    max-width: 600px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    background: #fff;
    color: #000;
}

/* faire bouger le gif que lors du survol */
